/* Developer's Custom Fields CSS for registration form
*********************************************************************/
h3 {
  margin: 1em 0 .7em !important;
}
table.form-table {
  display: block;
}
table.form-table tbody,
table.form-table tr,
table.form-table th,
table.form-table td {
  display: block;
  padding: 0 !important;
}
table.form-table th {
  font-weight: normal;
}
table.form-table textarea.slt-cf-input {
  width: 100%;
  max-width: 40em;
}
